---
title: Krieg und Frieden - Blog
---
{% assign summaries = site.summaries | sort: 'date_written' | reverse %}
{% for summary in summaries %}

    <!-- Find correct book and part number -->
    {% for current in site.parts %}
        {% if summary.chapter[0] >= current.from_chapter and summary.chapter[0] <= current.to_chapter%}
        {% assign part = current %}
        {% assign book = site.books | where: 'number', part.book | first %}
        {% break %}
        {% endif %}
    {% endfor %}

    {% assign author = site.users | where: 'name', summary.author | first %}
    
    <div class="blogpost">
        <h2 class="blogpost-header">
            <a href="{{ summary.url }}"> {{ summary.title }} </a>
        </h2>
        <p class="blogpost-metadata">
            <span class="blogpost-enumeration">
                {{ book.name }}, {{ part.name_in_book }}, Kapitel {{ summary.chapter[1] }} 
            </span>
            <span class="blogpost-source">
                
                von <a href="{{ author.url }}">{{ author.name }}</a> am 
                <span title='Verfasst {{ summary.date_written  | date: "%-d.%-m.%Y, %R" }}&#13;Abgerufen {{ summary.date_copied | date: "%-d.%-m.%Y, %R"}}'>
                        {{ summary.date_written | date: "%-d.%-m.%Y" }}
                </span>
            </span>
        </p>
        <p class="blogpost-content">
            {{ summary.excerpt }}
        </p>
        <p class="blogpost-footer"> 
            <a href="{% include thread_url.html %}?postID={{ summary.postID }}#post{{ summary.postID }}">
                Forenpost
            </a>
            - 
            <a href="#top">
                Seitenanfang
            </a>
        </p>
    </div>
{% endfor %}