---
title: Krieg und Frieden - Blog
permalink: blog
---
{% assign summaries = site.summaries | sort: 'date_written' | reverse %}
{% for summary in summaries %}
    {% assign chapter = site.data.chapters | where: 'number', summary.chapter | first %}
    {% assign author = site.users | where: 'name', summary.author | first %}

<section class="page__section">

    <header>
        <a href="{{ summary.url }}">
            <h2 class="h1">{{ summary.title }}</h2>
        </a>
    </header>

    <p>
        <span>
            {{ chapter.book_name }}, {{ chapter.part_name_in_book }}, Kapitel {{ chapter.number_in_part }} 
        </span>
        <span>
            
            von <a href="{{ author.url }}">{{ author.name }}</a> am 
            <span 
            title='Verfasst {{ summary.date_written  | date: "%-d.%-m.%Y, %R" }}&#13;Abgerufen {{ summary.date_copied | date: "%-d.%-m.%Y, %R"}}'>
                    {{ summary.date_written | date: "%-d.%-m.%Y" }}
            </span>
        </span>
    </p>

    {{ summary.excerpt }}

    <p> 
        <a href="{% include thread_url.html %}?postID={{ summary.postID }}#post{{ summary.postID }}">
            Forenpost
        </a>
        - 
        <a href="#top">
            Seitenanfang
        </a>
    </p>

</section>

{% endfor %}