---
title: Krieg und Frieden - Charaktere
---
<h1>Charaktere</h1>
{% assign groups = site.groups | sort: 'priority' %}
{% for group in groups %}
    <h3>{{ group.title }}</h3>
    <ul>
        {% assign characters = site.characters | where: 'group', group.title | sort: 'priority' %}
        {% for character in characters  %}
            <li class="character">
                {% if character.noble %}
                    {{ character.noble }}
                {% endif %}
                {% if character.rank %}
                    {{ character.rank }}
                {% endif %}
                <a href="{{ character.url }}">{{ character.name -}}</a>
                {%- if character.info -%}
                    , {{ character.info }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
