---
title: Krieg und Frieden - Charaktere
permalink: charaktere
---
<div class="page__section characters">

    <div class="characters__column">

        {% assign groups = site.groups | sort: 'priority' %}
        {% for group in groups %}
    
        <section class="characters__group">
    
            <header>
                <h2 class="h3">{{ group.title }}</h2>
            </header>
        
            <ul>
                {% assign characters = site.characters | where: 'group', group.title | sort: 'priority' %}
                {% for character in characters  %}
                    <li class="character">
                        <a href="{{ character.url }}">
                            {% if character.noble %}
                                {{ character.noble }}
                            {% endif %}
                            {% if character.rank %}
                                {{ character.rank }}
                            {% endif %}
                            {{ character.name -}}
                        </a>
                        {%- if character.info -%}
                            , <span class="character__info">{{ character.info }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    
        </section>
    
        {% endfor %}

    </div>

    <div class="characters__column">

        {% assign groups = site.groups | sort: 'priority' %}
        {% for group in groups %}
    
        <section class="characters__group">
    
            <header>
                <h2 class="h3">{{ group.title }}</h2>
            </header>
        
            <ul>
                {% assign characters = site.characters | where: 'group', group.title | sort: 'priority' %}
                {% for character in characters  %}
                    <li class="character">
                        <a href="{{ character.url }}">
                            {% if character.noble %}
                                {{ character.noble }}
                            {% endif %}
                            {% if character.rank %}
                                {{ character.rank }}
                            {% endif %}
                            {{ character.name -}}
                        </a>
                        {%- if character.info -%}
                            , <span class="character__info">{{ character.info }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    
        </section>
    
        {% endfor %}

    </div>

</section>
