---
title: Krieg und Frieden - Index
---
<table id="index">
{% assign summaries = site.summaries | sort: 'chapter' %}
{% for book in site.books %}
    {% assign parts = site.parts | where: 'book', book.number %}
    <tr>
        <th colspan="6" class="book">{{ book.name }}</th>
    </tr>
    <tr>
        <th colspan="2">Fortlaufend</th>
        <th colspan="2">Im Buch</th>
        <th rowspan="2">Titel</th>
        <th rowspan="2">Autor</th>
    </tr>
    <tr>
        <th>Teil</th>
        <th>Kapitel</th>
        <th>Teil</th>
        <th>Kapitel</th>
    </tr>
    {% for part in parts %}
        {% for summary in summaries %}
            {% if summary.chapter[0] < part.from_chapter %} {% continue %} {% endif %}
            {% if summary.chapter[0] > part.to_chapter %} {% break %} {% endif %}
            {% assign author = site.users | where: 'name', summary.author | first %}
            <tr>
                <td class="enumeration">{{ part.running }}</td>
                <td class="enumeration">{{ summary.chapter[0] }}</td>
                <td class="enumeration">{{ part.number_in_book }}</td>
                <td class="enumeration">{{ summary.chapter[1] }}</td>
                <td><a href="{{ summary.url }}">{{ summary.title }}</a></td>
                <td><a href="{{ author.url }}">{{ author.name }}</a></td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endfor %}
</table>