---
title: Krieg und Frieden - Lesefassung
---
{% for book in site.books %}
    <h1>{{ book.name }}</h1>
    {% assign parts = site.parts | where: 'book', book.number %}
    {% for part in parts %}
        <h2>{{ part.name_in_book }}</h2>
        {% for summary in site.summaries %}
            {% if summary.chapter[0] > part.to_chapter %}
                {% break %}
            {% endif %}
            {% if summary.chapter[0] >= part.from_chapter  %}
                <h3>
                    Kapitel {{ summary.chapter[1] }}: 
                    <a href="{{ summary.url }}">  {{ summary.title }} </a>
                </h3>
                <p>
                    {% assign author = site.users | where: 'name', summary.author | first %}
                    Zusammengefasst von <a href="{{ author.url }}">{{ author.name }}</a> am 
                    <span title='Verfasst {{ summary.date_written  | date: "%-d.%-m.%Y, %R" }}&#13;Abgerufen {{ summary.date_copied | date: "%-d.%-m.%Y, %R"}}'>
                        {{ summary.date_written | date: "%-d.%-m.%Y" }}
                    </span>
                    - Link zum 
                    <a href="{% include thread_url.html %}?postID={{ summary.postID }}#post{{ summary.postID }}">
                        Beitrag
                    </a>
                </p>
                <p>
                    {{ summary.content }}
                </p>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}