---
title: Krieg und Frieden - Lesefassung
permalink: lesefassung
---
{% assign chapters = site.data.chapters | sort: 'number' %}
{% assign current_book = 0 %}
{% assign current_part = 0 %}

{% for chapter in chapters %}
{% assign summary = site.summaries | where: 'chapter', chapter.number | first %}
{% if summary %}

<section class="page__section summary">

    <header class="summary__header--reading">

        {% if current_book != chapter.book_number %}
        {% assign current_book = chapter.book_number %}
        <h2 class="h1">{{ chapter.book_name }}</h2>
        {% endif %}
    
        {% if current_part != chapter.part_number %}
        {% assign current_part = chapter.part_number %}
        <h3 class="h2">{{ chapter.part_name_in_book }}</h3>
        {% endif %}
        
        <h4 class="h3">
            <span class="summary__enumeration">Kapitel {{ chapter.number_in_part }}</span>
            <br>
            <a class="summary__link" href="{{ summary.url }}">{{ summary.title }}</a>
        </h4>

    </header>

    {{ summary.content }}

    {% assign postID = summary.postID %}
    {% include summary-footer.html %}

</section>

{% endif %}
{% endfor %}