.characters {
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-inline: .5rem;
    display: grid;
    grid-gap: 2rem;

    &__group {

        header {
            margin: 1rem 0;
        }

        p {
            margin: .2rem 0;
            font-size: var(--fs-500);
            line-height: var(--fs-600);
            color: $black;
        }
    }
}

.character {
    &__info {
        color: $dark-gray;
    }

    &__link {
        color: $almost-black;

        &:hover {
            color: $primary-clr;
            
            .character__info {
                color: $primary-clr-tint-3;
            }
        }

        &--summary:hover {
            color: $primary-clr;
            text-decoration: underline;
        }
    }
}

@media (min-width: $bp-2) {
    .characters {
        padding-top: 5rem;
        padding-bottom: 10rem;
        padding-inline: $padding-inline;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem 0;
    }

    .group-rostow {
        grid-row: span 3;        
    }

    .group-bolkonskij,
    .group-hochadel,
    .group-armee {
        grid-row: span 2;
    }

    .group-besuchow,
    .group-drubezkoj {
        grid-row: span 1;
    }

    .group-unklar {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;

        header {
            grid-column: span 2;
        }
    }
}