.characters {
    padding: 1rem .5rem;
    display: grid;
    grid-gap: $grid-gap;

    &__group {
        header {
            margin: 1rem 0;
        }

        p {
            margin: .2rem 0;
            font-size: var(--fs-500);
            line-height: var(--fs-600);
            color: $black;
        }
    }

    &__column:last-child {
        display: none;
    }
}

@media (min-width: $bp-2) {
    .characters {
        padding-top: 5rem;
        padding-bottom: 3rem;
        padding-inline: 7rem;
    }
}

.character__link {
    color: inherit;
}

.character__link:hover {
    color: $primary-clr;
}

.characters__group {
    padding: 1rem 0;
}

.character__info {
    color: $dark-gray;
}

@media (min-width: $bp-2) {
    .characters {
        grid-template-columns: 1fr 1fr;
    }

    .characters__column:first-child section:nth-child(even) {
        display: none;
    }

    .characters__column:last-child {
        display: block;

        section:nth-child(odd) {
            display: none;
        }
    }
}