// ---------- Dimensions ----------//
$bp-1: 800px;
$bp-2: 1200px;

$content-width: 1000px;
$grid-gap: .5rem;

// ------------ Fonts -------------//

:root {
    font-size: 16px;

    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.375rem;
    --fs-800: 1.5rem;
    --fs-900: 1.75rem;
    --fs-1000: 2rem;
}

$ff-serif: serif;
$ff-sans: sans-serif;

// ------------ Colors ------------//

$white: white;
$almost-white: #f0f0f0;
$light-gray: #ddd;
$medium-light-gray: #bbb;
$medium-gray: #999;
$dark-gray: #555;
$almost-black: #282828;
$black: black;

$bg-clr: #dbdbdb;
$primary-clr: steelblue;
$primary-clr-tint-1: #6b9bc3;
$primary-clr-tint-2: #7ea8cb;
