.details {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;

    &__description,
    &__info,
    &__summaries {
        padding: 1rem 0;
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: .25rem .5rem;

        span:nth-child(odd) {
            color: $dark-gray;
        }
    }

    &__summaries header {
        padding: .5rem 0;
    }
}

.summary-list {
    &__item {
        list-style: none;
    }

    &__link span:first-child {
        color: $dark-gray;
    }

    &__link:hover span {
        color: $primary-clr;
    }
}

@media (min-width: $bp-2) {
    .details {
        padding-top: 5rem;
        padding-bottom: 3rem;
        padding-inline: 7rem;
    }
}