@media (min-width: $bp-2) {
    .index {
        display: grid;
        grid-gap: $grid-gap;
        grid-template-columns: 3fr 1fr;

        header,
        nav {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    
        .index__left,
        footer {
            grid-column: 1;
        }

        .index__right {
            display: block;
            grid-column: 2;
        }
    }
}

.index__right {
    display: none;
}

#leaderboard {
    margin-bottom: 10px;
}