html {
    height: 100%;
}

body {
    background-color: $bg-clr;
}

.page {
    margin: 0 auto;
    width: $content-width;
    max-width: 100%;
    display: grid;
    grid-gap: $grid-gap;

    &__header,
    &__nav,
    &__footer,
    &__section {
        background-color: $white;
    }

    &__header,
    &__nav,
    &__footer {
        text-align: center;
    }

    &__header {
        padding: clamp(2rem, calc(1rem + 3vw), 3rem) 0;
        font-size: clamp(2rem, calc(1rem + 5vw), 4rem);
        font-weight: bold;
        font-family: $ff-serif;
        user-select: none;
        background: url(/assets/images/header.jpg);
        background-position: center;
        background-repeat: none;
        background-color: $dark-gray;
    }

    &__title {
        color: $white;
        opacity: .8;
    }

    &__title:hover {
        color: $white;
        opacity: .9;
    }

    &__nav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: clamp(1rem, calc(.1rem + 2.5vw), 1.25rem);
        font-weight: 500;
        font-family: $ff-sans;
        user-select: none;
        background-color: $primary-clr;
    
        a {
            color: $almost-white;
            text-decoration: none;
        }
    
        a:hover {
            color: $white;
        }

        a::after,
        a.current::after,
        a:hover::after {
            content: '';
            margin: 0 auto;
            height: 1px;
            width: 90%;
            display: block;
            background: $almost-white;
        }

        a::after {
            width: 0;
            transition: width .3s;
        }
        
        a:hover::after {
            background: $white;
            transition: width .3s;
        }
    }

    &__section {
        padding: 2rem clamp(.5rem, 5vw, 3rem);
    }


    &__footer {
        padding: 1rem 0;
        color: $almost-white;
        font-family: $ff-sans;
        background-color: $primary-clr;

        a:hover {
            color: $white;
        }
    }
}

main {
    display: grid;
    grid-gap: $grid-gap;
}

h1, h2, h3, h4, h5 {
    margin: inherit;
    padding: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.h1, .h2, .h3, .h4 {
    font-weight: bold;
}

.h1 {
    font-size: var(--fs-1000);
}

.h2 {
    font-size: var(--fs-900);
}

.h3 {
    font-size: var(--fs-800);
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

@media (min-width: $bp-1) {
    .page__nav {
        padding-inline: 5rem;
    }
}