html {
    height: 100%;
}

body {
    background-color: $bg-clr;
}

.page {
    margin: 0 auto;
    width: $content-width;
    max-width: 100%;
    display: grid;
    grid-gap: $grid-gap;

    &__header,
    &__nav,
    &__footer,
    &__section {
        background-color: $white;
    }

    &__header,
    &__nav,
    &__footer {
        text-align: center;
    }

    &__header {
        padding: clamp(2rem, calc(1rem + 3vw), 3rem) 0;
        font-size: clamp(2rem, calc(1rem + 5vw), 4rem);
        font-weight: bold;
        font-family: $ff-serif;
        user-select: none;
        background-color: $primary-clr;
    }

    &__title {
        color: $almost-white;
    }

    &__nav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: clamp(1rem, calc(.1rem + 2.5vw), 1.25rem);
        font-family: $ff-sans;
    
        a {
            color: $medium-gray;
            text-decoration: none;
        }
    
        a:hover {
            color: $black;
        }

        .current {
            border-bottom: 1px $black solid;
        }
    }

    &__section {
        padding: 2rem clamp(.5rem, 5vw, 3rem);
    }


    &__footer {
        padding: 1rem 0;
        color: $medium-gray;
        font-family: $ff-sans;

        a {
            color: inherit;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        a:hover {
            color: $black;
        }
    }
}

main {
    display: grid;
    grid-gap: $grid-gap;
}

img {
    max-width: 100%;
}

a {
    color: $primary-clr;
    text-decoration: none;
}

a:hover {
    opacity: .8;
}

@media (min-width: $bp-1) {
    .page__nav {
        padding-inline: 5rem;
    }
}