.summary {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;

    p {
        margin: 1rem 0;
        font-size: var(--fs-600);
        line-height: 1.5rem;
    }
}

@media (min-width: $bp-2) {
    .summary {
        padding-top: 5rem;
        padding-bottom: 3rem;
        padding-inline: 10rem;
    }
}

.summary__title:hover {
    color: $dark-gray;
}

.summary__header--reading {
    margin: 1rem auto;
}

.summary__content p {
    margin: 1rem auto;
}

.summary__enumeration {
    font-size: var(--fs-500);
    font-weight: bold;
}

.summary__enumeration,
.summary__metadata,
.summary__characters {
    color: $dark-gray;
}

.summary__metadata {
    padding: .5rem 0;

    p {
        margin: .25rem 0;
        font-size: var(--fs-400);
    }
}

.author__link {
    color: $primary-clr;
}

.author__link:hover {
    color: $primary-clr-light;
}

.summary__characters {
    padding-bottom: .5rem;
}

.summary__footer {
    padding-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto 5.5rem;
    color: $medium-gray;
    
    a:hover {
        color: $primary-clr-light
    }

    &__more {
        font-size: var(--fs-500);
    }

    &__icons {
        grid-column: 2;
        font-size: var(--fs-800);
        font-weight: bold;
        text-align: right;
        
        a {
            padding-left: .25rem;
            opacity: .7;
        }
    }
}