.summary__header {
    color: $black;
}

.summary__link {
    color: $black;
}

.summary__link:hover {
    color: $primary-clr;
}

.summary__enumeration {
    font-size: var(--fs-500);
}

.summary__enumeration,
.summary__metadata {
    color: $dark-gray;
}

.summary__metadata {
    padding: 0;
}

.summary__footer {
    display: flex;
    justify-content: flex-end;

    a {
        padding: 0 .5rem;
        color: $dark-gray;
    }

    a:hover {
        color: $primary-clr;
    }
}