.summary__header,
.summary__header--reading,
.summary__content p,
.summary__enumeration,
.summary__metadata,
.summary__characters {
    margin: 0 auto;
    max-width: $paragraph-width;
}

.summary__header--reading {
    margin: 1rem auto;
}

.summary__content p {
    margin: 1rem auto;
}

.summary__link:hover {
    color: $primary-clr;
}

.summary__enumeration {
    font-size: var(--fs-500);
    font-weight: bold;
}

.summary__enumeration,
.summary__metadata,
.summary__characters {
    color: $dark-gray;
}

.summary__metadata {
    padding: .5rem 0;

    p {
        margin: .25rem 0;
    }
}

.author__link {
    color: $primary-clr;
}

.author__link:hover {
    color: $primary-clr;
    opacity: .8;
}

.summary__characters {
    padding-bottom: .5rem;
}

.summary__footer {
    display: flex;
    justify-content: flex-end;

    a {
        padding: 0 .5rem;
        color: $dark-gray;
    }

    a:hover {
        color: $primary-clr;
    }
}