---
layout: default
---
<section class="page__section">

    <header>
        <h1 class="h1">{{ page.title }}</h1>
    </header>

    <p>
        {{ page.group -}}
        {% if page.rank -%}
            , {{ page.rank -}} 
        {% endif %}
        {%- if page.info -%}
            , {{ page.info -}} 
        {% endif %}
        {%- if page.full_name %}
        <br> Vollständiger Name: {{ page.full_name }}
        {% endif %}
        {%- if page.call_name %}
        <br> Rufname: {{ page.call_name }}
        {% endif %}
        {%- if page.birth_name %}
        <br> Geboren: {{ page.birth_name }}
        {% endif %}
    </p>

    <h2>Kapitel:</h2>

    <ul>
        {% assign summaries = site.summaries | sort: 'chapter' %}
        {% for summary in summaries %}
            {% if summary.characters contains page.alias %}
                {% assign chapter = site.data.chapters | where: 'number', summary.chapter | first %}
                <li>
                    <a class="summary__link" href="{{ summary.url }}">{{ summary.title }}</a>,
                    <span class="summary__metadata">{{ chapter.book_name }}, {{ chapter.part_name_in_book }}, Kapitel {{ chapter.number }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</section>