---
layout: default
---
<section class="page__section details">

    <header class="details__header">
        <h1 class="h1">{{ page.title }}</h1>
    </header>

    {%- if page.info -%}
        <p class="details__description">{{ page.info -}}</p>
    {% endif %}

    <div class="details__info">

    {% if page.noble %}
        <span>Titel</span>
        <span>{{ page.noble }}</span>
    {% endif %}

    {% if page.full_name %}
        <span>vollst. Name</span>
        <span>{{ page.full_name }}</span>
    {% endif %}

    {% if page.birth_name %}
        <span>Geboren</span>
        <span>{{ page.birth_name }}</span>
    {% endif %}

    {% if page.group %}
        <span>Zugehörigkeit</span>
        <span>{{ page.group }}</span>
    {% endif %}

    {% if page.rank %}
        <span>Rang</span>
        <span>{{ page.rank }}</span>
    {% endif %}

    </div>

    <h2 class="h2">Vorkommnisse</h2>
    
    {% assign summaries = site.summaries | sort: 'chapter' %}

    <ul class="summary-list">
    {% for summary in summaries %}
        {% if summary.characters contains page.alias %}
        {% include summary-link.html %}
        {% endif %}
    {% endfor %}
    </ul>

</section>