---
layout: default
---
{% assign chapter = site.data.chapters | where: 'number', page.chapter | first %}

<section class="page__section summary">

    <header class="summary__header">
        {% include summary-enumeration.html %}
        <h1 class="h1">{{ page.title }}</h1>
    </header>
    
    <div class="summary__metadata">

        {% include summary-source.html %}

        {% if page.characters %}

        <p>
            Charaktere:
            {% for alias in page.characters %}
                {% for character in site.characters -%}
                    {%- if character.alias == alias -%}
                        <a class="character__link--summary" href="{{ character.url }}">{{- character.alias -}}</a>
                    {%- endif -%}
                {%- endfor -%}
                {%- unless forloop.last -%},{%- endunless -%}
            {% endfor %}
        </p>

        {% endif %}

    </div>

    {{ content }}
    
    {% include summary-footer.html %}

</section>