---
layout: default
permalink: 
---
{% assign summaries = site.summaries | where: 'author', page.name %}

<section class="page__section">

    <header class="details__header">
        <h1 class="h1">{{ page.name }}</h1>
    </header>

    <section class="details__summaries">

        <header>
            <h2 class="h2">Zusammenfassungen ({{ summaries.size }})</h2>
        </header>
    
        <ul class="summary-list">
            {% for summary in summaries %}
            {% include summary-link.html %}
            {% endfor %}
        </ul>
    </section>

</section>